{% extends 'main/base.html' %}
{% load static %}

{% block title %} Регистрация {% endblock title %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center font-italic mb-3 gray">Форма регистрации</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6">
            <form class="singup" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success w-100 my-4 px-4" type="submit">отправить</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}