{% extends 'main/base.html' %}
{% load static %}
{% load view_price %}

{% block title %}{{ object.name }}{% endblock title %}

{% block content %}
<div class="modal" id="modal_{{object.id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Запрос на подбор квартиры</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <form action="" method="post">
             {% csrf_token %}
             {{ form.as_p }}
             <button class="btn btn-primary" type="submit">отправить запрос</button>
           </form>
        </div>
      </div>
    </div>
  </div>
{% for item in object.build_months.all|slice:":3" %}
<div class="modal" id="modal_{{item.id}}" tabindex="-1" role="dialog">
    <div class="modal-photos modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>{{ item.build_month }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <div id="carouselControls_{{item.id}}" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" style="height: 30rem;">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/media/{{ item.build_photos.first.build_img }}" alt="img" style="height: 30rem; object-fit: cover;">
              </div>
              {% for img in item.build_photos.all|slice:"1:4" %}
              <div class="carousel-item">
                <img class="d-block w-100" src="/media/{{ img.build_img }}" alt="img" style="height: 30rem; object-fit: cover;">
              </div>
              {% endfor %}
              <a class="carousel-control-prev" href="#carouselControls_{{item.id}}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselControls_{{item.id}}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<div class="container-fluid">
  <div class="row justify-content-center mb-4 nav-tar">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link tar" href="#description" style="color: #1A284C;">Описание</a></li>
        <li class="nav-item"><a class="nav-link tar" href="#disposal" style="color: #1A284C;">Район</a></li>
        <li class="nav-item"><a class="nav-link tar" href="#building" style="color: #1A284C;">Ход строительства</a></li>
        <li class="nav-item"><a class="nav-link tar" href="#documents" style="color: #1A284C;">Документация</a></li>
      </ul>
      {% if object.has_flats %}<a  class="btn btn-primary mx-2" role="button" href="{% url 'sale' object.city.city_slug %}">Выбрать квартиру</a>{% else %}<a class="btn btn-outline-primary mx-2" role="button" href="#" data-toggle="modal" data-target="#modal_{{object.id}}">Запрос на подбор квартиры</a>{% endif %}
    </div>
  </div>
</div>
<div class="container mb-5">
  <nav aria-label="breadcrumb mt-2">
    <ol class="breadcrumb px-5">
      <li class="breadcrumb-item">
          {% if page %}
          <a href="{{ page }}">Новостройки</a>
          {% else %}
          <a href="#" onclick="javascript:history.go(-1); return false;">Назад к результатам поиска</a>
          {% endif %}
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ object.name}}</li>
    </ol>
  </nav>
  <h1 class="text-center font-italic mb-5">{{ object.name }}</h1>
  <div class="row justify-content-center">
    <div class="col-12">
      <div id="carouselControls" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" style="height: 30rem;">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/media/{{ object.main_photos.first.main_img }}" alt="img" style="height: 30rem; object-fit: cover;">
            <div class="carousel-caption d-block">
              <h4 id="addr">{{ object.addr }}</h4>
            </div>
          </div>
          {% for img in object.main_photos.all|slice:"1:5" %}
          <div class="carousel-item">
            <img class="d-block w-100" src="/media/{{ img.main_img }}" alt="img" style="height: 30rem; object-fit: cover;">
          </div>
          {% endfor %}
          <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-sm-6">
      <p class="d-flex justify-content-between"><span>Застройщик</span><span>{{ object.main_contractor }}</span></p>
      <p class="d-flex justify-content-between"><span>Генподрядчики</span><span style="text-align: end;">{% if object.building_company %}{{ object.building_company|slice:":-18" }}
      {% else %} &mdash; {% endif %}</span></p>
    </div>
    <div class="col-12 col-sm-6">
      <p class="d-flex justify-content-between"><span>Проектная декларация</span><span>№ {{ object.pr_declaration }}
        <a href="{{ object.pr_decl_link }}"><i class="fa fa-arrow-circle-o-down fa-lg"></i></a></span></p>
      <p class="d-flex justify-content-between"><span>Ввод в эксплуатацию</span><span>{{ object.operation_term }}</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <p class="d-flex justify-content-between"><span>Выдача ключей</span><span>{% if object.send_keys %}{{ object.send_keys|date:"d.m.Y" }}{% else %}
      &mdash;{% endif %}</span></p>
    </div>
    <div class="col-12 col-sm-6">
      <p class="d-flex justify-content-between"><span>Среднаяя цена за 1 м2</span><span>{% if object.middle_price %}{{ object.middle_price|price }} &#8381
      {% else %}&mdash;{% endif %}</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4" style="background: #ccc; border-radius: 5px;" id="description">
      <h5 class="mt-3" style="color: #1A284C;"><i class="fa fa-building-o" aria-hidden="true" style="color: #1A284C;"></i> Основные характеристики</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-4 mb-3">
      <p class="d-flex justify-content-between"><span>Класс недвижимости</span><span>{{ object.property_class }}</span></p>
      <p class="d-flex justify-content-between"><span>Материал стен</span><span>{{ object.wall }}</span></p>
      <p class="d-flex justify-content-between"><span>Тип отделки</span><span>{{ object.decoration }}</span></p>
    </div>
    <div class="col-6 col-sm-4 mb-3">
      <p class="d-flex justify-content-between"><span>Свободная планировка</span><span>{{ object.free_planning }}</span></p>
      <p class="d-flex justify-content-between"><span>Количество этажей</span><span>{{ object.floors }}</span></p>
      <p class="d-flex justify-content-between"><span>Количество квартир</span><span>{{ object.q_flats }}</span></p>
    </div>
    <div class="col-6 col-sm-4 mb-3">
      <p class="d-flex justify-content-between"><span>Жилая площадь</span><span>{{ object.living_sq|price }} м2</span></p>
      <p class="d-flex justify-content-between"><span>Высота потолков</span><span>{{ object.ceil_height }} м</span></p>
    </div>
  </div>
  {% if object.description %}
  <div class="row">
    <div class="col-12">
      {{ object.description|safe }}
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-12 mb-4" style="background: #ccc; border-radius: 5px;" id="disposal">
      <h5 class="mt-3" style="color: #1A284C;"><i class="fa fa-map-marker" aria-hidden="true" style="color: #1A284C;"></i> Район</h5>
    </div>
    <div id="map" style="height: 400px" class="col-12">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 mb-4" style="background: #ccc; border-radius: 5px;" id="building">
      <h5 class="mt-3" style="color: #1A284C;"><i class="fa fa-picture-o" aria-hidden="true" style="color: #1A284C;"></i> Ход строительства</h5>
    </div>
  </div>
  <div class="row">
    {% if object.build_months.all %}
    {% for item in object.build_months.all|slice:":3" %}
    <div class="col-6 col-sm-4">
      <div class="card">
        <a role="button" href="#" data-target="#modal_{{item.id}}" data-toggle="modal">
          <img class="card-img-top build-img" src="/media/{{ item.build_photos.first.build_img }}" alt="img" style="height: 10rem; object-fit:cover">
        </a>
        <div class="card-body">
          <h4 class="card-title">{{ item.build_month }}</h4>
          <p class="text-muted">фото: {{ item.build_photos.all|slice:":4"|length }} шт</p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>Фотографии будут предоставлены по запросу</p>
    {% endif %}
    <div class="col-12">
      <h5 class="mt-5" style="color: #1A284C;">Перенос плановых сроков строительства</h5>
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th>Степень готовности</th>
          <th>Срок в первой версии проектной декларации</th>
          <th>Срок в текущей версии проектной декларации</th>
          <th>Перенос сроков</th>
        </tr>
        </thead>
        <tbody>
        {% for check_term in object.check_readiness.all %}
        <tr>
          <td>{{ check_term.readiness }}</td>
          <td>{{ check_term.initial_date }}</td>
          <td>{{ check_term.changed_date }}</td>
          <td style="color: red;">{{ check_term.note }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-12 mb-5">
      <h5 class="mt-5" style="color: #1A284C;">Перенос сроков передачи квартир гражданам - участникам долевого строительства</h5>
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th>Первоначальная дата передаи квартир дольщикам</th>
          <th>Планируемая дата передачи квартир дольщикам</th>
          <th>Перенос сроков</th>
        </tr>
        </thead>
        <tbody>
        {% for d_term in object.check_keys.all %}
        <tr>
          <td>{{ d_term.initial_date }}</td>
          <td>{{ d_term.changed_date }}</td>
          <td style="color: red;">{{ d_term.note }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4" style="background: #ccc; border-radius: 5px;" id="documents">
      <h5 class="mt-3" style="color: #1A284C;"><i class="fa fa-file-text-o" aria-hidden="true" style="color: #1A284C;"></i> Документация</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {% if object.documents.all %}
      <table class="table">
        <thead>
        <tr>
          <th class="col-8" style="color: #646161;">Тип документа</th>
          <th class="col-3" style="color: #646161;">Дата</th>
          <th class="col-1" style="color: #646161;">Скачать</th>
        </tr>
        </thead>
        <tbody>
        {% for doc in object.documents.all %}
        <tr>
          <td>{{ doc.doc_name }}</td>
          <td>{{ doc.doc_date|date:"d E Y" }}</td>
          <td><a href="{{ doc.doc_link }}"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>Документы будут предоставлены по запросу</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/jquery-3.6.0-min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  <script src="https://use.fontawesome.com/aeedf3f379.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=a594d41d-fb9a-4846-995b-7dd6aeadc784&lang=ru_RU"></script>
  <script src="{% static 'js/yandex.js' %}"></script>
{% endblock %}