{% extends 'main/base.html' %}
{% load static %}
{% load view_price %}
{% load split_value %}
{% load replace_value %}

{% block title %}Квартирограмма{% endblock title %}

{% block content %}
<div class="container mt-4 mb-5 px-sm-0">
    <h1 class="mb-4 gray">Купить квартиру в новостройках
        <select name="city" id="city-choice">
            {% for i in towns %}
                {% if i.city_slug == city.city_slug %}
                <option value="{% url 'sale' city=i.city_slug %}" selected>{% if i.city_name|last == 'а' %}
                    {{ i.city_name|slice:':-1'|add:'ы' }}
                    {% elif i.city_name|last == 'и' %}{{ i.city_name }}
                    {% else %}{{ i.city_name|add:'а' }}{% endif %}
                </option>
                {% else %}
                <option value="{% url 'sale' city=i.city_slug %}">{% if i.city_name|last == 'а' %}
                    {{ i.city_name|slice:':-1'|add:'ы' }}
                    {% elif i.city_name|last == 'и' %}{{ i.city_name }}
                    {% else %}{{ i.city_name|add:'а' }}{% endif %}
                </option>
                {% endif %}
            {% endfor %}
        </select>
    </h1>
    <!--div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="btn-group mt-3 mb-5">
                {% for i in towns %}
                <a  class="{% if i.city_slug == city.city_slug %}btn btn-success city{% else %}btn btn-outline-success city{% endif %}" href="{% url 'sale' city=i.city_slug %}">{{ i.city_name }}</a>
                {% endfor %}
            </div>
        </div>
    </div-->
    <ul class="nav type_object mb-4 pb-4">
        <li value="fl" class="active gray mr-3">Квартиры</li>
        <li value="parking" class="gray mr-3">Машиноместа</li>
        <li value="store" class="gray mr-3">Кладовые</li>
    </ul>
    <div class="row justify-content-center mt-3">
        <div class=" col-11 col-sm-12 mb-4">
            <form action="" method="GET" class="filter-objects">
                <div class="form-group">
                    <div class="d-flex justify-content-between mb-4 mt-3">
                        <div class="col-8 pl-0 find-addr">
                            <input id="sort_zhk" type="text" value="{% if request.GET.zhk %}{{ request.GET.zhk }}{% endif %}" placeholder="Адрес, жилой комплекс">
                            <span><img class="search-icon" src="{% static 'img/search_icon.png' %}" alt="search"></span>
                        </div>
                        <div class="col-4 pr-0 pr-xl-3 map-pin">
                            <a href="" class="btn btn-secondary" style="width: 100%; "><svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.5385 5.76923C11.5385 10.9615 5.76923 15 5.76923 15C5.76923 15 0 10.9615 0 5.76923C0 4.23914 0.607828 2.77171 1.68977 1.68977C2.77171 0.607828 4.23914 0 5.76923 0C7.29933 0 8.76675 0.607828 9.84869 1.68977C10.9306 2.77171 11.5385 4.23914 11.5385 5.76923V5.76923Z" fill="#55B50C" fill-opacity="0.6"/>
                                <path d="M5.76912 8.07693C7.04362 8.07693 8.07681 7.04374 8.07681 5.76924C8.07681 4.49474 7.04362 3.46155 5.76912 3.46155C4.49461 3.46155 3.46143 4.49474 3.46143 5.76924C3.46143 7.04374 4.49461 8.07693 5.76912 8.07693Z" fill="#E6E6E6"/>
                                </svg> Смотреть на карте</a>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap mb-3">
                        <div class="col-12 col-sm-6 col-xl-4 mt-2">
                            <!--div class="d-flex justify-content-between mb-2">
                                <p class="mb-0 gray">Цена от <span id="sl7SliderMinValue">{{ min_price|price }}</span></p>
                                <p class="mb-0 gray">до <span id="sl7SliderMaxValue">{{ max_price|price }}</span> &#8381;</p>
                            </div-->

                            <div class="d-flex justify-content-between mb-2">
                                <p class="mb-0 gray">Цена от <span id="sl7SliderMinValue">{% if request.GET.price %}{{ request.GET.price|split:','|first|price }}
                                {% else %}{{ min_price|price }}{% endif %}</span></p>
                                <p class="mb-0 gray">до <span id="sl7SliderMaxValue">{% if request.GET.price %}{{ request.GET.price|split:','|last|price }}
                                {% else %}{{ max_price|price }}{% endif %}</span> &#8381;</p>
                            </div>
                            <p><input id="sl7" data-slider-id="sl7Slider" type="text" data-slider-min="{{ min_price }}"
                                data-slider-max="{{ max_price }}" data-slider-step="500000"
                                data-slider-value="{% if request.GET.price %}[{{ request.GET.price|split:','|first }},{{ request.GET.price|split:','|last }}]
                                {% else %}[{{ min_price }},{{ max_price }}]{% endif %}"></p>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-4 mt-2">
                            <div class="d-flex justify-content-between mb-2">
                                <p class="mb-0 gray">Площадь от <span id="sl8SliderMinValue">{% if request.GET.square %}{{ request.GET.square|split:','|first|replace }}{% else %}{{ min_sq|replace }}{% endif %}</span></p>
                                <p class="mb-0 gray">до <span id="sl8SliderMaxValue">{% if request.GET.square %}{{ request.GET.square|split:','|last|replace }}{% else %}{{ max_sq|replace }}{% endif %}</span> м2</p>
                            </div>
                            <p><input id="sl8" data-slider-id="sl8Slider" type="text" data-slider-min="{{ min_sq|replace }}"
                                data-slider-max="{{ max_sq|replace }}" data-slider-step="0.5"
                                data-slider-value="{% if request.GET.square %}[{{ request.GET.square|split:','|first|replace }},{{ request.GET.square|split:','|last|replace }}]{% else %}[{{ min_sq|replace }},{{ max_sq|replace }}]{% endif %}"></p>
                        </div>
                        <div class="col-6 col-xl-4 mb-2 mt-2 pl-0 text-xl-right align-self-center">
                            <select name="finish_date">
                                {% if request.GET.date %}
                                    <option value="{{ request.GET.date }}">{{ request.GET.date }}</option>
                                {% endif %}
                                <option class='gray' value="">Срок сдачи</option>
                                {% for item in f_dates %}
                                    <option value="{{ item.fk_building.operation_term }}">{{ item.fk_building.operation_term }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="d-flex mb-4 justify-content-between show-filter">
                        <button class="btn btn-outline-success dop-filter show-fil" style="border: none">Расширенный фильтр <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.8125 6.375L8.5 11.6875L3.1875 6.375" stroke="#55B50C" stroke-width="1.0625" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </button>
                        <button class="btn btn-outline-danger dop-filter" type="reset" style="border: none">Сбросить фильтр 
                        </button>
                    </div>
                    <div class="flex-wrap mt-4 mb-3 align-items-center add-info">
                        <div class="col-6 col-sm-4 flat_type">
                            {% if request.GET.flat_type %}
                            <ul name="flat_t" class="nav flat_tp d-flex gray">
                                <li value="C" class="mr-4 {% if 'C' in request.GET.flat_type %}active{% endif %}">Студия</li>
                                <li value="1" class="mr-4 {% if '1' in request.GET.flat_type %}active{% endif %}">1</li>
                                <li value="2" class="mr-4 {% if '2' in request.GET.flat_type %}active{% endif %}">2</li>
                                <li value="3" class="{% if '3' in request.GET.flat_type %}active{% endif %}">3+</li>
                            </ul>
                            {% else %}
                            <ul name="flat_t" class="nav flat_tp d-flex gray">
                                <li class="mr-4" value="C">Студия</li>
                                <li class="mr-4" value="1">1</li>
                                <li class="mr-4" value="2">2</li>
                                <li class="" value="3">3+</li>
                            </ul>
                            {% endif %}
                        </div>
                        <div class="col-6 col-sm-4">
                            <div class="d-flex justify-content-between mb-2">
                                <p class="mb-0 gray">Этаж от <span id="sl9SliderMinValue">1</span></p>
                                <p class="mb-0 gray">до <span id="sl9SliderMaxValue">{% if request.GET.floor %}{{ request.GET.floor|split:','|last }}{% else %}{{ max_fl }}{% endif %}</span></p>
                            </div>
                            <p><input id="sl9" data-slider-id="sl9Slider" type="text" data-slider-min="1"
                                data-slider-max="{{ max_fl }}" data-slider-step="1"
                                data-slider-value="{% if request.GET.floor %}[{{ request.GET.floor|split:','|first }},{{ request.GET.floor|split:','|last }}]{% else %}[1, {{ max_fl }}]{% endif %}"></p>
                        </div>
                        <div class="col-6 col-sm-4">
                            <select name="fl_decors" id="fl_decor">
                                {% if request.GET.fl_decor %}
                                    {% for i in flat_decors %}
                                        {% if i|first == request.GET.fl_decor %}
                                            <option value="{{ i|first }}">{{ i|last }}</option>
                                            <option value="">отделка квартиры</option>
                                        {% else %}
                                            <option value="{{ i|first }}">{{ i|last }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <option value="">отделка квартиры</option>
                                    {% for i in flat_decors %}
                                        <option value="{{ i|first }}">
                                           {{ i|last }}
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-6 col-sm-4 my-4">
                            <select name="district" id="district">
                                {% if request.GET.district %}
                                    <option class="gray" value="{{ request.GET.district }}" selected>{{ request.GET.district }}</option>
                                    <option class="gray" value="">Выбрать район</option>
                                    {% for item in districts %}
                                        <option value="{{ item.fk_property.district }}">{{ item.fk_property.district }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option class="gray" value="">Выбрать район</option>
                                    {% for item in districts %}
                                        <option value="{{ item.fk_property.district }}">{{ item.fk_property.district }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-6 col-sm-4 my-3">
                            <select id="params" name="param" class="gray">
                                {% if request.GET.param == 'fl_price' %}
                                <option value="fl_price">Сначала дешевые</option>
                                {% elif request.GET.param == '-fl_price' %}
                                <option value="-fl_price">Сначала дорогие</option>
                                {% elif request.GET.param == '-fl_sq' %}
                                <option value="-fl_sq">Сначала с большей площадью</option>
                                {% elif request.GET.param == 'fl_sq' %}
                                <option value="fl_sq">Сначала с меньшей площадью</option>
                                {% elif request.GET.param == '-floor' %}
                                <option value="-floor">Сначала с высоким этажем</option>
                                {% elif request.GET.param == 'floor' %}
                                <option value="floor">Сначала с низким этажем</option>
                                {% endif %}
                                <option value="">Сортировать</option>
                                <option value="fl_price">Сначала дешевые</option>
                                <option value="-fl_price">Сначала дорогие</option>
                                <option value="-fl_sq">Сначала с большей площадью</option>
                                <option value="fl_sq">Сначала с меньшей площадью</option>
                                <option value="-floor">Сначала с высоким этажем</option>
                                <option value="floor">Сначала с низким этажем</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-4 justify-content-between hide-filter">
                        <button class="btn btn-outline-success dop-filter hide-fil" style="border: none">Скрыть расширенный фильтр <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.8125 6.375L5.5 1.6875L10.1875 6.375" stroke="#55B50C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <button class="btn btn-outline-danger dop-filter" type="reset" style="border: none">Сбросить фильтр 
                        </button>
                    </div>
                    <p class="text-center mt-4"><button data-url="{% url 'sale' city=city.city_slug %}" id="flats-search" class="btn btn-success text-center" type="submit" style="width: 22rem; border-radius: 0.5rem;">Показать результаты</button></p>
                </div>                    

                    <!--select id="sort_zhk" class="custom-select">
                        {% if request.GET.zhk %}
                        <option value="{{ request.GET.zhk }}">{% for item in property_all %}
                            {% if item.id == request.GET.zhk|add:"0" %}{{ item.name }}{% endif %}{% endfor %}</option>
                        {% endif %}
                        <option value="">----------------</option>
                        {% for item in property %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <h6 style="color: #1A284C;">Тип квартиры</h6>
                    <div id="flat_type">
                        {% for item in flat_types %}
                        <div class="form-check form-check-inline">
                            {% if item|first in request.GET.flat_type|split:',' %}
                            <input class="form-check-input flat_type" type="checkbox" id="{{ request.GET.flat_type }}" value="{{ request.GET.flat_type }}" checked>
                            {% else %}
                            <input class="form-check-input flat_type" type="checkbox" id="{{ item|first }}" value="{{ item|first }}">
                            {% endif %}
                            <label class="form-check-label" for="{{ item|first }}">{{ item|last }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <h6 style="color: #1A284C;">Отделка квартиры</h6>
                    <div id="fl_decor">
                        {% for i in flat_decors %}
                        <div class="form-check form-check-inline">
                            {% if i|first in request.GET.fl_decor|split:',' %}
                            <input class="form-check-input flat_decor" type="checkbox" id="{{ request.GET.fl_decor }}" value="{{ request.GET.fl_decor }}" checked>
                            {% else %}
                            <input class="form-check-input flat_decor" type="checkbox" id="{{ i|first }}" value="{{ i|first }}">
                            {% endif %}
                            <label class="form-check-label" for="{{ i|first }}">{{ i|last }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <h6 style="color: #1A284C;">Стоимость</h6>
                    {% if request.GET.price %}
                    <span class="mr-3 initial-val">{{ min_price|price }} &#8381;</span>
                    <input class='ex2 span2' type="text" data-slider-min="{{ min_price }}"
                           data-slider-max="{{ max_price }}" data-slider-step="500000"
                           data-slider-value="[{{ request.GET.price|split:','|first }},{{ request.GET.price|split:','|last }}]">
                    <span class="ml-3 final-val">{{ max_price|price }} &#8381;</span>
                    {% else %}
                    <span class="mr-3 initial-val">{{ min_price|price }} &#8381;</span>
                    <input class='ex2 span2' type="text" data-slider-min="{{ min_price }}"
                           data-slider-max="{{ max_price }}" data-slider-step="500000"
                           data-slider-value="[{{ min_price }},{{ max_price }}]">
                    <span class="ml-3 final-val">{{ max_price|price }} &#8381;</span>
                    {% endif %}
                </div>
                <select id="params" class="custom-select">
                    {% if request.GET.param == 'fl_price' %}
                    <option value="fl_price">По возрастанию цены</option>
                    {% endif %}
                    <option value="">Сортировать</option>
                    <option value="fl_price">По возрастанию цены</option>
                </select>
                <div class="d-flex my-4 flex-lg-direction-column">
                    <button class="btn btn-outline-secondary mr-4 w-100" type="reset">Сбросить</button>
                    <button data-url="{% url 'sale' city=city.city_slug %}" id="flats-search" class="btn btn-outline-primary w-100" type="submit">Применить</button>
                </div-->
            </form>
        </div>
        <div id="all_results" class="col-12 d-flex flex-wrap">
            {% for item in object_list %}
            <div class="col-6 col-md-4 col-xl-3 res">
                <div class="card mb-3" style="border: none;">
                   <a href="{% url 'flat_detail' item.fk_property.city.city_slug item.pk item.slug %}">
                       {% if item.fl_drawing %}
                       <img class="card-img-top" src="/media/{{ item.fl_drawing }}" alt="img" style="height: 11rem; object-fit: contain;">
                       {% else %}
                       <p class="h5" style="height: 11rem; object-fit: contain;">Изображение планировки отсутствует</p>
                       {% endif %}
                   </a>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h6 class="card-title gray">{% if item.fl_price %}{{ item.fl_price|price }} &#8381;{% else %}стоимость не указана{% endif %}</h6>
                            <p style="display: inline-block;">{% if item.fl_decor == 'Да' %}<img src="{% static '/img/otdelka.png' %}" alt="img" title="Квартира с отделкой">
                                {% elif item.fl_decor == 'Нет' %}<img src="{% static '/img/net_otdelki.png' %}" alt="img" title="Квартира без отделки">
                                {% elif item.fl_decor == 'whitebox' %}<img src="{% static '/img/whitebox.png' %}" alt="img" title="Квартира с отделкой whitebox">
                                {% elif item.fl_decor == 'zak' %}<img src="{% static '/img/zak.png' %}" alt="img" title="Отделкка по желанию заказчика">{% endif %}</p>
                        </div> 
                        <p class="d-flex justify-content-between gray" style="height: 1.5rem;">
                            <span>{% if item.fl_type == 'C' %}Студия{% else %}{{ item.fl_type }}-х комн{% endif %}</span><span class="dot_html">&middot;</span><span>{{ item.fl_sq }} м2</span><span class="dot_html">&middot;</span><span>{% if item.fk_property.name == 'More (Море)' or item.fk_property.name == 'Premium park (Премиум парк)' %}&mdash; этаж{% else %}{{ item.floor }} этаж{% endif %}</span>
                        </p>
                        <p class="gray"><span class="font-weight-bold">{{ item.fk_property.name }}</span> {{ item.fk_building.num_dom }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <h5 class="font-italic text-center my-5">Выбор квартир по данному городу или с данными параметрами не доступен.</h5>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <nav class="pagination justify-content-center">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="{{request.path}}?zhk={{request.GET.zhk}}&flat_type={{request.GET.flat_type}}&fl_decor={{request.GET.fl_decor}}&price={{request.GET.price}}&param={{request.GET.param}}&square={{ request.GET.square }}&date={{ request.GET.date }}&floor={{ request.GET.floor }}&district={{ request.GET.district }}&reset={{request.GET.reset}}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a></li>
                    {% endif %}
                    {% for p in page_obj.paginator.page_range %}
                    {% if p > page_obj.number|add:-4 and p < page_obj.number|add:4 %}
                        {% if page_obj.number == p %}
                            <li class="page-item active">
                                <a class="page-link" href="{{request.path}}?zhk={{request.GET.zhk}}&flat_type={{request.GET.flat_type}}&fl_decor={{request.GET.fl_decor}}&price={{request.GET.price}}&param={{request.GET.param}}&square={{ request.GET.square }}&date={{ request.GET.date }}&floor={{ request.GET.floor }}&district={{ request.GET.district }}&reset={{request.GET.reset}}&page={{ p }}">{{ p }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{{request.path}}?zhk={{request.GET.zhk}}&flat_type={{request.GET.flat_type}}&fl_decor={{request.GET.fl_decor}}&price={{request.GET.price}}&param={{request.GET.param}}&square={{ request.GET.square }}&date={{ request.GET.date }}&floor={{ request.GET.floor }}&district={{ request.GET.district }}&reset={{request.GET.reset}}&page={{ p }}">{{ p }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="{{request.path}}?zhk={{request.GET.zhk}}&flat_type={{request.GET.flat_type}}&fl_decor={{request.GET.fl_decor}}&price={{request.GET.price}}&param={{request.GET.param}}&square={{ request.GET.square }}&date={{ request.GET.date }}&floor={{ request.GET.floor }}&district={{ request.GET.district }}&reset={{request.GET.reset}}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock content %}