<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>404 page</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container d-flex py-5 justify-content-center vh-100">
            <div class="text-center row">
                <h1 class="font-weight-bold my-5">404</h1>
                <div class="col-12 col-md-8 mt-5">
                    <p class="fs-3"> <span class="text-danger">Опс!</span> Страница не найдена.</p>
                    <p class="lead">
                        Страница, которую вы ищете, не существует.
                    </p>
                    <a href="{% url 'main' %}" class="btn btn-outline-success">Вернуться на главную</a>
                </div>

            </div>
        </div>
    </body>
</html>
