<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} {{ title|title }} {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css">
	<link rel="stylesheet" href="{% static 'css/chief-slider.css' %}">
</head>
<body>
	<header>
		<div class="modal fade" id="searchModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form action="{% url 'search' %}" method="get">
							<input class="form-control" type="text" name="q" placeholder="введите запрос...">
							<button class="btn btn-primary px-5 mt-3" type="submit">поиск</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-md navbar-light">
		  <div class="container-fluid">
		    <a class="navbar-brand pt-0" href="{% url 'main' %}"><img src="{% static 'img/new_logo.png' %}" alt="logo"></a>
			<button class="navbar-toggler mt-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mx-auto">
				<li class="nav-item px-md-3"><a href="{% url 'news' %}" class="nav-link {% if request.resolver_match.url_name == 'news' %}active{% endif %}">Новости</a></li>
			    <!--li class="nav-item px-md-3"><a href="{% url 'loan' %}" class="nav-link {% if request.resolver_match.url_name == 'loan' %}active{% endif %}">Ипотека</a></li-->
			    <li class="nav-item px-md-3"><a href="{% url 'property' city='vladivostok' %}" class="nav-link {% if request.resolver_match.url_name == 'property' %}active{% endif %}">Новостройки</a></li>
			    <li class="nav-item px-md-3"><a href="{% url 'sale' city='vladivostok' %}" class="nav-link {% if request.resolver_match.url_name == 'sale' %}active{% endif %}">Квартиры</a></li>
			    <!--li class="nav-item px-md-3"><a href="{% url 'repair' %}" class="nav-link {% if request.resolver_match.url_name == 'repair' %}active{% endif %}">Ремонт</a></li-->
			  </ul>
			</div>
		    <div class="user">
			  <ul class="nav ml-auto d-sm-flex flex-row align-items-center">
			  	<li class="nav-item py-3 pr-3 pr-sm-0"><a href="{% if request.user.is_authenticated %}{% url 'cabinet:main' request.user.pk %}{% else %}{% url 'favorites' %}{% endif %}"><img src="{% static 'img/fav_icon.png' %}" alt="favorite_icon"></a></li>
				<li class="nav-item py-3 pl-sm-3"><a data-toggle="modal" data-target="#searchModal" href="#"><img src="{% static 'img/search_icon.png' %}" alt="#"></a></li>
				<li class="nav-item dropdown py-2">
					<a class="nav-link dropdown-toggle pr-0" href="" id="navbarDropdown" role="button" data-toggle="dropdown">
						{% if user.is_authenticated %}<img src="{% static 'img/user_logged_icon.png' %}" alt="#">{% else %}
						<img src="{% static 'img/user_icon.png' %}" alt="#">{% endif %}
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% if user.is_authenticated %}
							<a href="{% url 'cabinet:main' request.user.pk %}" class="dropdown-item">Личный кабинет</a>
							<a href="{% url 'authapp:logout' %}" class="dropdown-item">Выход</a>
						{% else %}
							<a href="{% url 'authapp:login' %}?next={{ request.path }}" class="dropdown-item">Войти</a>
							<a href="{% url 'authapp:register' %}" class="dropdown-item">Регистрация</a>
						{% endif %}
					</div>
				</li>
				<li class="navbar item pr-0"><img src="{% static 'img/phone_icon.png' %}" alt="#"></li>
				<li class="navbar item pl-0 ph"><a class="nav-link" href="tel:+74232800270" style="color: black;">
					+7(423)280-02-07</a></li>
			  </ul>
		    </div>
		  </div>
		</nav>
	<div class="border-div"></div>
	</header>

	{% block content %}

    {% endblock %}
	<footer>
		<div class="container-fluid" style="border-top: 1px solid #8D8D8D;">
			<div class="row mt-3">
				<div class="col-12 navbar d-flex-justify-content-around">
					<a class="navbar-brand nav_foot ml-5" href="{% url 'main' %}"><img src="{% static 'img/new_logo.png' %}" alt="logo"></a>
					<ul class="nav mx-auto nav-footer">
						<li class="nav-item px-md-3"><a href="{% url 'news' %}" class="nav-link {% if request.resolver_match.url_name == 'news' %}active{% endif %}">Новости</a></li>
						<!--li class="nav-item px-md-3"><a href="{% url 'loan' %}" class="nav-link {% if request.resolver_match.url_name == 'loan' %}active{% endif %}">Ипотека</a></li-->
						<li class="nav-item px-md-3"><a href="{% url 'property' city='vladivostok' %}" class="nav-link {% if request.resolver_match.url_name == 'property' %}active{% endif %}">Новостройки</a></li>
						<li class="nav-item px-md-3"><a href="{% url 'sale' city='vladivostok' %}" class="nav-link {% if request.resolver_match.url_name == 'sale' %}active{% endif %}">Квартиры</a></li>
						<!--li class="nav-item px-md-3"><a href="{% url 'repair' %}" class="nav-link {% if request.resolver_match.url_name == 'repair' %}active{% endif %}">Ремонт</a></li-->
					</ul>
					<div class="phn-footer text-center h2 align-self-center mt-3"><a class="gray" href="phone:+74232800207">+7(423)280-02-07</a></div>
				</div>
			</div>
			<div class="row first-row-footer mt-3 mb-5 justify-content-between">
				<div class="col-md-4 text-center h2 align-self-center mb-0 phone-footer"><a href="phone:+74232800207">+7(423)280-02-07</a></div>
				<div class="col-6 col-md-4 text-center h2 align-self-center mb-0"><a href="mailto:info@111bashni.ru">info@111bashni.ru</a></div>
				<div class="col-6 col-md-4 text-center">
					<a href="https://t.me/bashni111"><img class="img-footer" src="{% static 'img/telegram_icon.png' %}" alt="icon" style="position: '';"></a>
					<a href="https://vk.com/bashni111"><img class="img-footer" src="{% static 'img/vk_icon.png' %}" alt="icon"></a>
					<a href="https://www.youtube.com/channel/UCJn9mSFd5v-EOqV2NJ1_Mkg?view_as=subscriber"><img class="img-footer" src="{% static 'img/youtube_icon.png' %}" alt="icon"></a>
				</div>
			</div>
			<div class="row second-row-footer mb-3 justify-content-center">
				<div class="col-6 col-sm-4 mail">
					<p><a href="">О сайте</a></p>
					<p><a href="">Вакансии</a></p>
					<p><a href="">Наши партнеры</a></p>
					<p><a href="">Правила пользования сайтом</a></p>
					<p><a href="{% url 'policy' %}">Политика конфиденциальности</a></p>
					<h5 class="my-2"><a href="">Справочник дольщика</a></h5>
					<p><a href="">Форум новостроек</a></p>
					<p><a href="">Юридическая поддержка</a></p>
				</div>
				<div class="col-6 col-sm-4">
					<h5 class="mb-2"><a href="">Жилые комплексы новостройки Владивостока</a></h5>
					<p><a href="">Новостройки на карте</a></p>
					<p><a href="">Сданные новостройки</a><span class="px-2" style="color: #bababa;">|</span><a href="{% url 'property' city='vladivostok' %}">Строящиеся</a></p>
					<p><a href="{% url 'property' city='vladivostok' %}">Новостройки</a><span class="px-2" style="color: #bababa;">|</span><a href="">Долгострои</a></p>
					<p><a href="{% url 'property' city='vladivostok' %}?b_class=%D0%9A%D0%BE%D0%BC%D1%84%D0%BE%D1%80%D1%82&decor=&wall=">Типовой</a>
						<span class="px-2" style="color: #bababa;">|</span>
						<a href="{% url 'property' city='vladivostok' %}?b_class=%D0%9A%D0%BE%D0%BC%D1%84%D0%BE%D1%80%D1%82&decor=&wall=">Комфорт</a>
						<span class="px-2" style="color: #bababa;">|</span>
						<a href="{% url 'property' city='vladivostok' %}?b_class=%D0%91%D0%B8%D0%B7%D0%BD%D0%B5%D1%81&decor=&wall=">Бизнес</a></p>
					<p><a href="{% url 'sale' city='vladivostok' %}">Купить квартиру в новостройке</a></p>
					<p><a href="{% url 'sale' city='vladivostok' %}?flat_type=C&fl_decor=">Квартиры-студии</a></p>
					<p><a href="{% url 'sale' city='vladivostok' %}?flat_type=1&fl_decor=">1-комнатные квартиры</a></p>
					<p><a href="{% url 'sale' city='vladivostok' %}?flat_type=2&fl_decor=">2-комнатные квартиры</a></p>
					<p><a href="{% url 'sale' city='vladivostok' %}?flat_type=3&fl_decor=">3-комнатные квартиры</a></p>
					<p><a href="">Пентхаусы</a></p>
					<p><a href="">Коммерческая недвижимость</a></p>
					<h5 class="my-2"><a href="">Застройщики Владивостока</a></h5>
					<p><a href="">Обмен на новостройку</a></p>
					<p><a href="">Ипотека в новостройке</a></p>
					<p><a href="">Ремонт в новостройке</a></p>
				</div>
				<div class="col-6 col-sm-4">
					<h5 class="mb-2"><a href="">Рейтинг новостроек жилых комплексов</a></h5>
					<ul>
						<li><a href="{% url 'property_detail' city_slug='vladivostok' pk=328 slug='aivazovskii' %}">ЖК Айвазовский (Владивосток)</a></li>
						<li><a href="">ЖК Академгородок (Владивосток)</a></li>
						<li><a href="{% url 'property_detail' city_slug='vladivostok' pk=365 slug='dolina' %}">ЖК Золотая долина (Владивосток)</a></li>
						<li><a href="">ЖК Ласточка (Владивосток)</a></li>
						<li><a href="">ЖК Ольга (Владивосток)</a></li>
						<li><a href="{% url 'property_detail' city_slug='vladivostok' pk=373 slug='sadovyi_kvartal' %}">ЖК Садовый квартал (Владивосток)</a></li>
						<li><a href="{% url 'property_detail' city_slug='vladivostok' pk=289 slug='chaika' %}">ЖК Чайка (Владивосток)</a></li>
						<li><a href="{% url 'property_detail' city_slug='vladivostok' pk=403 slug='eco_siti' %}">ЖК Экосити (Владивосток)</a></li>
					</ul>
				</div>
			</div>
			<div class="row second-row-footer mb-3">
				<div class="col-12">
					<p class="mt-5" style="color: #6F6868; margin-left: 6rem;">&copyООО «Башни», 2020-2022</p>
					<p style="color: #6F6868; margin-left: 6rem;">Копирование информации сайта допускается только при условии указания Гиперссылки на источник информации.</p>
					<p style="color: #6F6868; margin-left: 6rem;">Любая информация, представленная на данном сайте, носит исключительно информационный характер и ни при каких
					условиях не является публичной офертой, определяемой положениями статьи 437 ГК РФ.</p>
				</div>
			</div>
		</div>
	</footer>
	{% block js %}
	<script src="{% static 'js/jquery-3.6.0-min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
	<!--script src="https://use.fontawesome.com/aeedf3f379.js"></script-->
	<script src="https://kit.fontawesome.com/9fc41faa36.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>
	<script src="{% static 'js/script.js' %}"></script>
	{% endblock %}
</body>
</html>