{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ object.title }}{% endblock title %}

{% block content %}
<div class="container mt-4 mb-5">
  <div class="row">
      <div class="col-12 mt-3 mb-5">
          <nav aria-label="breadcrumb" class="mt-2">
              <ol class="breadcrumb px-0 bg-white">
                <li class="breadcrumb-item font-weight-bold">
                    <a class="gray" href="{% url 'events' %}">Мероприятия</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ object.title }}</li>
              </ol>
          </nav>
      </div>
      <div class="col-12 col-md-10 mb-5">
          <div class="d-flex">
              <img class="mr-3 img-fluid" src="/media/{{ object.event_img }}" alt="img">
          </div>
          <h1 class="font-italic my-4 gray">{{ object.title }}</h1>
          <p class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ object.start_date|date:"d.m.Y" }} - {{ object.finish_date|date:"d.m.Y" }}</p>
          <p class="gray" style="text-align: justify;">{{ object.description|safe }}</p>
          <h5 class="gray mt-3">{{ object.city.city_name }}</h5>
      </div>
  </div>
</div>
{% endblock content %}