{% extends 'main/base.html' %}
{% load static %}
{% load view_price %}

{% block title %}Избранное{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12 pb-2 pl-0 mb-5" style="border-bottom: 1px solid rgba(0, 0, 0, 0.3)">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background: none;">
              <li class="breadcrumb-item fr-item"><a class="font-weight-bold gray" href="/">Главная</a></li>
              <li class="breadcrumb-item fr-item">
                  {% if page %}
                  <a class="font-weight-bold gray" href="{{ page }}">Жилые комплексы {{ object.city.city_name }}</a>
                  {% else %}
                  <a class="font-weight-bold gray" href="#" onclick="javascript:history.go(-1); return false;">Вернуться назад</a>
                  {% endif %}
              </li>
              <li class="breadcrumb-item fr-item active font-weight-bold" aria-current="page">Избранное</li>
            </ol>
          </nav>
          <h1 class="gray">Избранное</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav type_object mb-4 pb-4" style="border-bottom: none;">
                <li value="fl" class="active gray mr-3">Квартиры</li>
                <li value="zhk" class="gray mr-3">Новостройки</li>
                <li value="parking" class="gray mr-3">Машиноместа</li>
                <li value="store" class="gray mr-3">Кладовые</li>
            </ul>
        </div>
        <div class="col-12 col-sm-10 heart_back">
            <div class="block-1">
                <h4 class="mt-4 gray">Пока здесь пусто...</h4>
                <h4 class="mt-3 mb-5 gray">Воспользуйтесь нашим <a class="a_fav" href="{% url 'sale' city='vladivostok' %}">поиском</a> и найдите, то что по душе.</h4>
            </div>
            <div class="block-2">
                <h4 class="mt-4 mb-5 gray">Пока здесь пусто...</h4>
            </div>
            <div class="block-4">
                <h4 class="mt-4 mb-5 gray">Пока здесь пусто...</h4>
            </div>
            <div class="block-5">
                <h4 class="mt-4 gray">Пока здесь пусто...</h4>
                <h4 class="mt-3 mb-5 gray">Воспользуйтесь нашим <a class="a_fav" href="{% url 'property' city='vladivostok' %}">поиском</a> и найдите, то что по душе.</h4>
            </div>
        </div>
    </div>
</div>

{% endblock content %}