{% extends 'main/base.html' %}
{% load static %}

{% block title %}Новости{% endblock title %}

{% block content %}
<div class="container mt-4 mb-5">
  <h1 class="text-center mt-4 mb-5 gray">Новости</h1>
  <div class="row news">
    <div class="col-12 col-md-8 order-2 order-sm-1">
      {% for news in object_list %}
      <div class="d-flex">
        <img class="mr-3" src="/media/{{ news.img_news.first.img }}" alt="img" style="width: 19rem">
        <h3 class="gray"><a href="{% url 'news_detail' news.pk %}">{{ news.title }}</a></h3>
      </div>
        <p class="text-muted mt-3">{{ news.published|date:"d.m.Y" }}</p>
      <p>{{ news.description|truncatewords:30|safe }}</p>
      <a class="btn btn-clear text-muted" href="{% url 'news_detail' news.pk %}">читать далее...</a> <span class="ml-5 text-muted">тэги: </span>
        {% for tag in news.tags.all %}
          <a class="btn btn-outline-success ml-4" href="{% url 'news_slug' tag.slug %}">{{ tag.tag_name }}</a>
        {% endfor %}
      <hr class="mb-3">
      {% endfor %}
    </div>
    <div class="col-md-4 col-10 order-1 order-sm-2">
      <ul class="nav nav-tabs nav-fill" id="newsTab" role="tablist">
        <li class="nav-item"><a class="nav-link active" id="recent-tab" data-toggle="tab" href="#recent" role="tab"
                                aria-controls="recent" aria-selected="true">Последнее</a></li>
        <li class="nav-item"><a class="nav-link" id="popular-tab" data-toggle="tab" href="#popular" role="tab"
                                aria-controls="popular" aria-selected="false">Популярное</a></li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
          <div class="news-text">
            {% for item in recent %}
            <p class="ml-3 mt-3"><span class="text-muted mr-3">{{ item.published|date:"d.m.Y" }}</span><a href="{% url 'news_detail' item.pk %}">{{ item.title }}</a></p>
            {% endfor %}
          </div>
          <hr>
        </div>
        <div class="tab-pane fade" id="popular" role="tabpanel" aria-labelledby="recent-tab">
          <div class="news-text">
            {% for item in popular %}
            <p class="ml-3 mt-3"><span class="text-muted mr-3">{{ item.published|date:"d.m.Y" }}</span><a href="{% url 'news_detail' item.pk %}">{{ item.title }}</a></p>
            {% endfor %}
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
      <div class="col-12">
          <nav class="pagination justify-content-center">
              <ul class="pagination justify-content-center">
                  {% if page_obj.has_previous %}
                      <li class="page-item"><a class="page-link" href="{{request.path}}?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                  {% else %}
                      <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a></li>
                  {% endif %}
                  {% for p in page_obj.paginator.page_range %}
                  {% if p > page_obj.number|add:-4 and p < page_obj.number|add:4 %}
                      {% if page_obj.number == p %}
                          <li class="page-item active">
                              <a class="page-link" href="{{request.path}}?page={{ p }}">{{ p }}</a>
                          </li>
                      {% else %}
                          <li class="page-item">
                              <a class="page-link" href="{{request.path}}?page={{ p }}">{{ p }}</a>
                          </li>
                      {% endif %}
                  {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                      <li class="page-item"><a class="page-link" href="{{request.path}}?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                  {% else %}
                      <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a></li>
                  {% endif %}
              </ul>
          </nav>
      </div>
    </div>
</div>
{% endblock content %}